{% extends resolvePath(masterTemplatePath) %}

{% block main_content %}
    <body class="app flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-group mb-0">
                        <div class="card p-4">
                            <div class="card-body">
                                <h1>{{ "auth_label_forgot_password_title" | tr}}</h1>
                                <form method="POST" action="{{route('auth_perform_forgot_password')}}">
                                    <div class="input-group mb-3">
                                        <span class="input-group-addon">
                                            <i class="icon-user"></i>
                                        </span>
                                        <input type="text" name="email" class="form-control" value="{{old('email')}}" placeholder="{{ 'auth_placeholder_email' | tr }}">
                                    </div>
                                    <div class="input-group md-4">
                                        {% for error in errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{error.message | tr | capitalize}}
                                        </div>
                                        {% endfor %}
                                        {% if emailError %}
                                        <div class="alert alert-danger" role="alert">
                                            {{"auth_error_forgot_password" | tr}}
                                        </div>
                                        {% endif %}
                                        {% if sendError %}
                                        <div class="alert alert-danger" role="alert">
                                            {{"auth_error_mail_not_sent" | tr}}
                                        </div>
                                        {% endif %}
                                        {% if sendSuccess %}
                                        <div class="alert alert-success" role="alert">
                                            {{"auth_sent_new_password" | tr}}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary px-4">{{ "auth_button_request_password" | tr }}</button>
                                        </div>
                                        <div class="col-6 text-right">
                                            <a href="{{route('auth_login')}}" class="btn btn-link px-0">{{ "auth_label_login" | tr }}</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
